<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3"><i class="{{faIcon}}"></i> {{title}}</h1>
            <br>
            {{> _messages}}
            <form action="{{route}}" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-control" placeholder="Item Name"
                        value="{{item.name}}" />
                </div>

                <div class="form-group">
                    <label for="unit">M/Unit</label>
                    <select id="unit" name="unit">
                        {{#select item.unit}}
                        <option value="kg." selected>kg.</option>
                        <option value="ft.">ft.</option>
                        <option value="mtr.">mtr.</option>
                        <option value="Pcs.">Pcs.</option>
                        <option value="ml.">ml.</option>
                        <option value="Dozen">Dozen</option>
                        <option value="Packs">Packs</option>
                        {{/select}}
                    </select>
                </div>

                <div class="form-group">
                    <label for="unitPrice">Whole Sale Price</label>
                    <input type="number" id="unitPrice" name="unitPrice" class="form-control"
                        placeholder="Enter Whole Sale Price" value="{{item.unitPrice}}" min="1" />
                </div>
                <div class="form-group">
                    <label for="retailPrice">Retail Price</label>
                    <input type="number" id="retailPrice" name="retailPrice" class="form-control"
                        placeholder="Enter Retail Price" value="{{item.retailPrice}}" min="1" />
                </div>
                <div class="form-group">
                    <label for="partialPaymentPrice">Partial Payment Price</label>
                    <input type="number" id="partialPaymentPrice" name="partialPaymentPrice" class="form-control"
                        placeholder="Enter Partial Payment Price" value="{{item.partialPaymentPrice}}" min="1" />
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select id="category" name="category">

                        {{#if item.category}}
                        {{#each categories}}
                        <option value="{{_id}}" {{selectedOption _id ../item.category}}>{{name}}</option>
                        {{/each}}
                        {{else}}
                        {{#each categories}}
                        <option value="{{_id}}">{{name}}</option>
                        {{/each}}
                        {{/if}}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-block">{{submit}}</button>
            </form>
        </div>
    </div>
</div>